@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue {
  background-color: #0a66c2;
}
.color-blue {
  color: #0a66c2;
}
.bg-grey {
  background-color: #f3f2ef;
}
.modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_content{
  width: 70%;
  background-color: white;
  border-radius: 10px;
}

.modal_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}